
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="tempcontroller.js"></script>
<div ng-app="HelloWorldApp">
    <div ng-controller="HelloWorldController">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron text-center">
            <h1 class="display-4">Control temperatura</h1>     
          </div>
        </div>
      </div>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6 col-md-offset-3">
               <div class="table-responsive">
                  <table class="table table-hover table-bordered">
                      <thead class="text-center">
                        <tr>
                          <th>Incapere</th>
                          <th>Temperatura (hkhk)</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr ng-repeat="(key, value) in text track by $index">
                          <td>{{ key }}</td>
                          <td>{{ value }} &#8451;</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
      </div>
</div>