<!-- <html ng-app="countryApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js JSON Fetching Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script>

      var countryApp = angular.module('countryApp', []);



      countryApp.controller('CountryCtrl', function ($interval,$scope, $http){


     //    function loadData() {
	    //     // $http.get('/api/temperaturi').success(function(data) {
	    //     //   $scope.countries = data;
	    //     //   //var theInterval2 = $interval(loadData(), 1000);
	    //     //   return data;
	    //     // });
	    //     console.log("aaa");
	    //     return true;
	    // };
	    var theInterval = $interval(

function() {
console.log("aaaa");
  }

	    	, 1000);


      });
    </script>
  </head>


  <body ng-controller="CountryCtrl">
	<h2>Angular.js JSON Fetching Example {{countries}}</h2>
    <table>
      <tr>
        <th>Code</th>
		<th>Country</th>
        <th>Population</th>
      </tr>
      <tr ng-repeat="country in countries | orderBy: 'code' ">
        <td>{{country.value}}</td>
		<td>{{country.name}}</td>
        <td>{{country.population}}</td>
      </tr>
    </table>
  </body>
</html>
 -->